
.pdf-render{

  .inner{
    margin: 10vh 0 0;
  }

  canvas {
    width: 100%;
  }

  .pdf-pages-wrapper {
    border: 1px solid #cfcfcf;

    + .pdf-pages-wrapper {
      margin-top: 10px;
    }
  }


}