@use '../ErrorRender/error-render.scss';

.pdf-render{
  min-height: 300px;

  canvas {
    width: 100%;
  }

  .pdf-pages-wrapper {
    border: 1px solid #cfcfcf;

    + .pdf-pages-wrapper {
      margin-top: 10px;
    }
  }


}