
.excel-render {
  .inner{
    margin: 10vh 0 0;
  }

  .excel-render-wrap {
    min-height: 300px;

    table {
      border: 1px solid;
      border-collapse: collapse;
      min-width: 100%;

      td {
        border: 1px solid #72767b;
        font-size: 12px;
        padding: 10px;
        text-align: center;
        color: #000;
      }
    }
  }
}